# 데이터 수집 복습

In [2]:
import requests

In [3]:
url = "https://finance.naver.com/item/sise_day.naver?code=005930"

In [6]:
head = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36'}

In [7]:
r = requests.get(url, headers=head)

In [9]:
import pandas as pd
data = pd.read_html(r.text)[0].dropna()

In [17]:
url = "https://finance.naver.com/item/sise_day.naver?code=005930&page={}"

In [19]:
df = pd.concat([pd.read_html(requests.get(url.format(x), headers=head).text)[0].dropna()  for x in range(1,11)])

## list comprehension

* method? function? 
* class속한 funciont -> method 
* function -> function

In [27]:
# 1 ~ 10 comprehension 
[ i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
for x in range(1,11):
    print(pd.read_html(requests.get(url.format(x), headers=head).text)[0].dropna())
    print("----------------------")
    # f-string 3.6이상 지원 
    #print(f"https://finance.naver.com/item/sise_day.naver?code=005930&page={x}")

            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.07.18  61300.0  1300.0  60600.0  61400.0  60500.0  10933713.0
2   2022.07.15  60000.0  2500.0  58400.0  60000.0  58100.0  18685583.0
3   2022.07.14  57500.0   500.0  57500.0  58200.0  57400.0  15067012.0
4   2022.07.13  58000.0   100.0  58300.0  58600.0  58000.0  10841315.0
5   2022.07.12  58100.0   700.0  58600.0  58700.0  58100.0   9336061.0
9   2022.07.11  58800.0   100.0  59300.0  59600.0  58700.0  13042624.0
10  2022.07.08  58700.0   500.0  58600.0  59300.0  58200.0  15339271.0
11  2022.07.07  58200.0  1800.0  56400.0  58700.0  56300.0  21322833.0
12  2022.07.06  56400.0   800.0  57300.0  57300.0  56400.0  16820461.0
13  2022.07.05  57200.0   100.0  57600.0  58200.0  57200.0  14216539.0
----------------------
            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.07.04  57100.0   900.0  56100.0  57400.0  55700.0  17807126.0
2   2022.07.01  56200.0   800.0  56900.0  57500.0  55900.0  24982097.0
3   2022.06.30  57000.0  1000.0  57200.0  57600.0  57000.0  18915142.0
4   2022.06.29  58000.0  1400.0  58500.0  58800.0  58000.0  14677138.0
5   2022.06.28  59400.0   600.0  59200.0  59500.0  58700.0  13540538.0
9   2022.06.27  58800.0   400.0  59000.0  59900.0  58300.0  18122236.0
10  2022.06.24  58400.0  1000.0  57900.0  59100.0  57700.0  23256103.0
11  2022.06.23  57400.0   200.0  57700.0  58000.0  56800.0  28338608.0
12  2022.06.22  57600.0   900.0  59000.0  59100.0  57600.0  23334687.0
13  2022.06.21  58500.0   200.0  58700.0  59200.0  58200.0  25148109.0
----------------------
            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.06.20  58700.0  1100.0  59800.0  59900.0  58100.0  34111306.0
2   2022.06.17  59800.0  1100.0  59400.0  59900.0  59400.0  29053450.0
3   2022.06.16  60900.0   200.0  61300.0  61800.0  60500.0  23394895.0
4   2022.06.15  60700.0  1200.0  61300.0  61500.0  60200.0  26811224.0
5   2022.06.14  61900.0   200.0  61200.0  62200.0  61100.0  24606419.0
9   2022.06.13  62100.0  1700.0  62400.0  62800.0  62100.0  22157816.0
10  2022.06.10  63800.0  1400.0  64000.0  64400.0  63800.0  22193552.0
11  2022.06.09  65200.0   100.0  65100.0  65200.0  64500.0  25790725.0
12  2022.06.08  65300.0   200.0  65400.0  65700.0  65300.0  12483180.0
13  2022.06.07  65500.0  1300.0  66200.0  66400.0  65400.0  19355755.0
----------------------
            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.06.03  66800.0   100.0  67200.0  67300.0  66800.0   8222883.0
2   2022.06.02  66700.0   700.0  66600.0  67000.0  66400.0  14959443.0
3   2022.05.31  67400.0   300.0  67500.0  67500.0  66700.0  24365002.0
4   2022.05.30  67700.0  1200.0  67500.0  67800.0  66900.0  14255484.0
5   2022.05.27  66500.0   600.0  66700.0  66900.0  66200.0  11405555.0
9   2022.05.26  65900.0   500.0  66300.0  67200.0  65500.0  15970890.0
10  2022.05.25  66400.0   100.0  66700.0  67100.0  65900.0  15150490.0
11  2022.05.24  66500.0  1400.0  67500.0  67700.0  66500.0  15482576.0
12  2022.05.23  67900.0   100.0  68800.0  68800.0  67600.0  13684088.0
13  2022.05.20  68000.0   500.0  67800.0  68400.0  67700.0  12109671.0
----------------------
            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.05.19  67500.0   600.0  66500.0  67600.0  66500.0  17073727.0
2   2022.05.18  68100.0   500.0  68300.0  68700.0  67600.0  16486319.0
3   2022.05.17  67600.0  1300.0  66600.0  67900.0  66600.0  15680447.0
4   2022.05.16  66300.0   200.0  67100.0  67400.0  66100.0  11937555.0
5   2022.05.13  66500.0  1600.0  65300.0  66700.0  65200.0  14551536.0
9   2022.05.12  64900.0   800.0  65200.0  65500.0  64900.0  16414188.0
10  2022.05.11  65700.0     0.0  65500.0  66300.0  65200.0  12330920.0
11  2022.05.10  65700.0   400.0  65900.0  66300.0  65300.0  17235605.0
12  2022.05.09  66100.0   400.0  66300.0  66900.0  66100.0  11858736.0
13  2022.05.06  66500.0  1400.0  67000.0  67100.0  66500.0  14356156.0
----------------------
            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.05.04  67900.0   400.0  68000.0  68400.0  67500.0  11505248.0
2   2022.05.03  67500.0   200.0  67400.0  68400.0  67300.0  14168875.0
3   2022.05.02  67300.0   100.0  66600.0  67600.0  66500.0  14106184.0
4   2022.04.29  67400.0  2600.0  65100.0  67600.0  65000.0  26190390.0
5   2022.04.28  64800.0   200.0  65400.0  65500.0  64500.0  16895527.0
9   2022.04.27  65000.0  1100.0  65400.0  65500.0  64900.0  18122084.0
10  2022.04.26  66100.0   200.0  66400.0  66700.0  66100.0  12946923.0
11  2022.04.25  66300.0   700.0  66500.0  66700.0  66300.0  11016474.0
12  2022.04.22  67000.0   700.0  67200.0  67300.0  66700.0  11791478.0
13  2022.04.21  67700.0   300.0  67600.0  68300.0  67500.0  12847448.0
----------------------
            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.04.20  67400.0   100.0  67000.0  67400.0  66500.0  16693293.0
2   2022.04.19  67300.0   600.0  67100.0  68000.0  67000.0  12959434.0
3   2022.04.18  66700.0   100.0  66500.0  67100.0  66100.0  10119203.0
4   2022.04.15  66600.0   900.0  67200.0  67300.0  66500.0  13176415.0
5   2022.04.14  67500.0  1200.0  68700.0  68700.0  67500.0  16409494.0
9   2022.04.13  68700.0  1700.0  67300.0  69000.0  67200.0  17378619.0
10  2022.04.12  67000.0   900.0  67600.0  67700.0  67000.0  13924389.0
11  2022.04.11  67900.0   100.0  67800.0  68100.0  67400.0  12263735.0
12  2022.04.08  67800.0   200.0  68100.0  68300.0  67700.0  15453191.0
13  2022.04.07  68000.0   500.0  68500.0  68500.0  68000.0  20683327.0
----------------------
            날짜       종가    전일비       시가       고가       저가         거래량
1   2022.04.06  68500.0  700.0  68600.0  68800.0  68500.0  15517308.0
2   2022.04.05  69200.0  100.0  69400.0  69600.0  69100.0   8467248.0
3   2022.04.04  69300.0  200.0  68900.0  69300.0  68600.0  11107905.0
4   2022.04.01  69100.0  500.0  69500.0  69500.0  69000.0  15916846.0
5   2022.03.31  69600.0  300.0  69900.0  70200.0  69600.0  12510366.0
9   2022.03.30  69900.0  300.0  70300.0  70500.0  69800.0  12670187.0
10  2022.03.29  70200.0  500.0  70000.0  70300.0  69800.0  13686208.0
11  2022.03.28  69700.0  100.0  69500.0  69900.0  69200.0  12619289.0
12  2022.03.25  69800.0    0.0  70100.0  70200.0  69600.0  12986010.0
13  2022.03.24  69800.0  700.0  69600.0  70300.0  69600.0  37943357.0
----------------------
            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.03.23  70500.0   200.0  70600.0  71200.0  70300.0  12398025.0
2   2022.03.22  70300.0   400.0  69900.0  70500.0  69900.0   9402666.0
3   2022.03.21  69900.0   800.0  70900.0  71000.0  69900.0  11169002.0
4   2022.03.18  70700.0   500.0  70600.0  70900.0  70200.0  14410038.0
5   2022.03.17  71200.0   800.0  71200.0  71800.0  70900.0  17646315.0
9   2022.03.16  70400.0   900.0  70200.0  70500.0  69700.0  10175750.0
10  2022.03.15  69500.0   700.0  69800.0  70100.0  69500.0  10258562.0
11  2022.03.14  70200.0   200.0  70000.0  70200.0  69600.0   9040993.0
12  2022.03.11  70000.0  1200.0  70500.0  70700.0  69700.0  15787655.0
13  2022.03.10  71200.0  1700.0  70800.0  71200.0  70500.0  21159248.0
----------------------
            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.03.08  69500.0   600.0  68800.0  70000.0  68700.0  15828269.0
2   2022.03.07  70100.0  1400.0  70000.0  70600.0  69900.0  18617138.0
3   2022.03.04  71500.0  1400.0  72700.0  72700.0  71200.0  13409634.0
4   2022.03.03  72900.0  1200.0  72300.0  73100.0  72200.0  13232638.0
5   2022.03.02  71700.0   400.0  72300.0  72400.0  71500.0  12481430.0
9   2022.02.28  72100.0   200.0  71100.0  72100.0  71000.0  17781783.0
10  2022.02.25  71900.0   400.0  72100.0  72600.0  71900.0  13168484.0
11  2022.02.24  71500.0  1500.0  72300.0  72300.0  71300.0  15759283.0
12  2022.02.23  73000.0   400.0  73800.0  73800.0  72800.0  10397964.0
13  2022.02.22  73400.0   800.0  73000.0  73400.0  72800.0  11692469.0
----------------------

In [29]:
pd.concat([pd.read_html(requests.get(url.format(x), headers=head).text)[0].dropna() for x in range(1,11)])

            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.07.18  61400.0  1400.0  60600.0  61400.0  60500.0  10953555.0
2   2022.07.15  60000.0  2500.0  58400.0  60000.0  58100.0  18685583.0
3   2022.07.14  57500.0   500.0  57500.0  58200.0  57400.0  15067012.0
4   2022.07.13  58000.0   100.0  58300.0  58600.0  58000.0  10841315.0
5   2022.07.12  58100.0   700.0  58600.0  58700.0  58100.0   9336061.0
..         ...      ...     ...      ...      ...      ...         ...
9   2022.02.28  72100.0   200.0  71100.0  72100.0  71000.0  17781783.0
10  2022.02.25  71900.0   400.0  72100.0  72600.0  71900.0  13168484.0
11  2022.02.24  71500.0  1500.0  72300.0  72300.0  71300.0  15759283.0
12  2022.02.23  73000.0   400.0  73800.0  73800.0  72800.0  10397964.0
13  2022.02.22  73400.0   800.0  73000.0  73400.0  72800.0  11692469.0

[100 rows x 7 columns]

In [34]:
def get_stock(code):
    return pd.concat([pd.read_html(requests.get("https://finance.naver.com/item/sise_day.naver?code={}&page={}".format(code, x), headers=head).text)[0].dropna() for x in range(1,11)])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 13
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      100 non-null    object
 1   종가      100 non-null    float64
 2   전일비     100 non-null    float64
 3   시가      100 non-null    float64
 4   고가      100 non-null    float64
 5   저가      100 non-null    float64
 6   거래량     100 non-null    float64
dtypes: float64(6), object(1)
memory usage: 6.2+ KB

In [38]:
from datetime import datetime, date, timedelta

In [39]:
df

            날짜       종가     전일비       시가       고가       저가         거래량
1   2022.07.18  61200.0  1200.0  60600.0  61400.0  60500.0  10663076.0
2   2022.07.15  60000.0  2500.0  58400.0  60000.0  58100.0  18685583.0
3   2022.07.14  57500.0   500.0  57500.0  58200.0  57400.0  15067012.0
4   2022.07.13  58000.0   100.0  58300.0  58600.0  58000.0  10841315.0
5   2022.07.12  58100.0   700.0  58600.0  58700.0  58100.0   9336061.0
..         ...      ...     ...      ...      ...      ...         ...
9   2022.02.28  72100.0   200.0  71100.0  72100.0  71000.0  17781783.0
10  2022.02.25  71900.0   400.0  72100.0  72600.0  71900.0  13168484.0
11  2022.02.24  71500.0  1500.0  72300.0  72300.0  71300.0  15759283.0
12  2022.02.23  73000.0   400.0  73800.0  73800.0  72800.0  10397964.0
13  2022.02.22  73400.0   800.0  73000.0  73400.0  72800.0  11692469.0

[100 rows x 7 columns]