In [2]:
import pandas as pd
import numpy as np

## 데이터 정제 및 준비

### 1. 누락된 데이터 처리하기

In [3]:
type(np.nan)

float

In [4]:
string_data = pd.Series(['abc', 'def', np.nan, 'ghi'])
string_data

0    abc
1    def
2    NaN
3    ghi
dtype: object

In [5]:
pd.isnull(string_data)

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

#### 누락된 데이터 골라내기

In [7]:
from numpy import nan as NA

In [8]:
data = pd.Series([1, NA, 3.5, NA, 7])
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [9]:
data.isnull()

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [10]:
# dropna가 없다면 아래와 같이 삭제
idx = data[data.isnull()].index
data.drop(idx)

0    1.0
2    3.5
4    7.0
dtype: float64

In [11]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [12]:
data.notnull()

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [13]:
data = pd.DataFrame([[1.0, 6.5, 3.0], [1.0, NA, NA],
             [NA, NA, NA], [NA, 6.5, 3.0]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [14]:
data.dropna()

     0    1    2
0  1.0  6.5  3.0

In [15]:
data.dropna(axis=0, how="any") # 행을 삭제하되, 그 행에 널이 하나라도 있으면 삭제

     0    1    2
0  1.0  6.5  3.0

In [16]:
data.dropna(axis=0, how="all") # 행을 삭제하되, 모두가 널인 행만 삭제

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [17]:
data[100] = NA
data

   0    1    2    100
0  1.0  6.5  3.0  NaN
1  1.0  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN
3  NaN  6.5  3.0  NaN

In [18]:
data.dropna(axis=1, how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [19]:
data.dropna(axis=1, how="any")

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [20]:
df = pd.DataFrame(np.random.randn(7, 3))
df

          0         1         2
0  1.050676  0.511724  0.341213
1 -2.083763  0.720008  1.710196
2 -0.805296 -1.262925  0.718389
3  0.802530 -0.158944 -0.211116
4  0.908464 -0.129237  1.314346
5  0.055944 -0.602483 -0.789262
6  0.368821  1.167448 -0.607083

In [21]:
df.iloc[0:4, 1] = NA
df

          0         1         2
0  1.050676       NaN  0.341213
1 -2.083763       NaN  1.710196
2 -0.805296       NaN  0.718389
3  0.802530       NaN -0.211116
4  0.908464 -0.129237  1.314346
5  0.055944 -0.602483 -0.789262
6  0.368821  1.167448 -0.607083

In [22]:
df.iloc[:2, 2] = NA
df

          0         1         2
0  1.050676       NaN       NaN
1 -2.083763       NaN       NaN
2 -0.805296       NaN  0.718389
3  0.802530       NaN -0.211116
4  0.908464 -0.129237  1.314346
5  0.055944 -0.602483 -0.789262
6  0.368821  1.167448 -0.607083

In [23]:
df.dropna()

          0         1         2
4  0.908464 -0.129237  1.314346
5  0.055944 -0.602483 -0.789262
6  0.368821  1.167448 -0.607083

In [24]:
df.dropna(axis=1, thresh=5)

          0         2
0  1.050676       NaN
1 -2.083763       NaN
2 -0.805296  0.718389
3  0.802530 -0.211116
4  0.908464  1.314346
5  0.055944 -0.789262
6  0.368821 -0.607083

#### 결측치 채우기

In [25]:
df

          0         1         2
0  1.050676       NaN       NaN
1 -2.083763       NaN       NaN
2 -0.805296       NaN  0.718389
3  0.802530       NaN -0.211116
4  0.908464 -0.129237  1.314346
5  0.055944 -0.602483 -0.789262
6  0.368821  1.167448 -0.607083

In [26]:
df.fillna(0)

          0         1         2
0  1.050676  0.000000  0.000000
1 -2.083763  0.000000  0.000000
2 -0.805296  0.000000  0.718389
3  0.802530  0.000000 -0.211116
4  0.908464 -0.129237  1.314346
5  0.055944 -0.602483 -0.789262
6  0.368821  1.167448 -0.607083

In [27]:
df.fillna({1:0.5, 2:0})

          0         1         2
0  1.050676  0.500000  0.000000
1 -2.083763  0.500000  0.000000
2 -0.805296  0.500000  0.718389
3  0.802530  0.500000 -0.211116
4  0.908464 -0.129237  1.314346
5  0.055944 -0.602483 -0.789262
6  0.368821  1.167448 -0.607083

In [28]:
df.fillna(0, inplace=True)
df

          0         1         2
0  1.050676  0.000000  0.000000
1 -2.083763  0.000000  0.000000
2 -0.805296  0.000000  0.718389
3  0.802530  0.000000 -0.211116
4  0.908464 -0.129237  1.314346
5  0.055944 -0.602483 -0.789262
6  0.368821  1.167448 -0.607083

In [29]:
df= pd.DataFrame(np.random.randn(6, 3))
df

          0         1         2
0  1.281879  0.252949 -0.787383
1 -1.131278  1.271417  0.749955
2  1.637927 -0.933298 -0.399713
3 -0.349976  0.780363 -0.167802
4  0.047599 -0.805105  0.090999
5  0.244818 -1.295322  0.153208

In [30]:
df.iloc[2:, 1] = NA
df

          0         1         2
0  1.281879  0.252949 -0.787383
1 -1.131278  1.271417  0.749955
2  1.637927       NaN -0.399713
3 -0.349976       NaN -0.167802
4  0.047599       NaN  0.090999
5  0.244818       NaN  0.153208

In [31]:
df.iloc[4:, 2] = NA
df

          0         1         2
0  1.281879  0.252949 -0.787383
1 -1.131278  1.271417  0.749955
2  1.637927       NaN -0.399713
3 -0.349976       NaN -0.167802
4  0.047599       NaN       NaN
5  0.244818       NaN       NaN

In [32]:
df.fillna(axis=0, method='ffill') # axis=0 이므로 '행을 따라서~' 채워넣음

          0         1         2
0  1.281879  0.252949 -0.787383
1 -1.131278  1.271417  0.749955
2  1.637927  1.271417 -0.399713
3 -0.349976  1.271417 -0.167802
4  0.047599  1.271417 -0.167802
5  0.244818  1.271417 -0.167802

In [33]:
df.fillna(axis=1, method='ffill')

          0         1         2
0  1.281879  0.252949 -0.787383
1 -1.131278  1.271417  0.749955
2  1.637927  1.637927 -0.399713
3 -0.349976 -0.349976 -0.167802
4  0.047599  0.047599  0.047599
5  0.244818  0.244818  0.244818

In [34]:
df.fillna(axis=0, method='ffill', limit=2)

          0         1         2
0  1.281879  0.252949 -0.787383
1 -1.131278  1.271417  0.749955
2  1.637927  1.271417 -0.399713
3 -0.349976  1.271417 -0.167802
4  0.047599       NaN -0.167802
5  0.244818       NaN -0.167802

In [35]:
m = df.mean().mean()

In [36]:
df.fillna(m)

          0         1         2
0  1.281879  0.252949 -0.787383
1 -1.131278  1.271417  0.749955
2  1.637927  0.299814 -0.399713
3 -0.349976  0.299814 -0.167802
4  0.047599  0.299814  0.299814
5  0.244818  0.299814  0.299814

### 2. 데이터 변형

#### 중복 제거하기

In [37]:
data = pd.DataFrame({"k1" : ["one", "two"] * 3 + ["two"],
              "k2" : [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [38]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [39]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [40]:
data.drop_duplicates(['k1'])

    k1  k2
0  one   1
1  two   1

In [41]:
data.drop_duplicates(['k1'], keep="last")

    k1  k2
4  one   3
6  two   4

In [42]:
data['v1'] = range(7)
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [43]:
data.drop_duplicates()

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [44]:
data.drop_duplicates(['k1', 'k2'])

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5

### Workshop - Titanic dataset

#### 값 치환하기

In [45]:
data = pd.Series([1, -999, 2, -999, -1000, 3])
data

0       1
1    -999
2       2
3    -999
4   -1000
5       3
dtype: int64

In [46]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [48]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [49]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [50]:
data.replace({-999:np.nan, -1000:0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

#### 축 색인 이름 바꾸기

In [53]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
             index = ['Ohio', 'Colorado', 'New York'],
             columns= ['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [54]:
data.index

Index(['Ohio', 'Colorado', 'New York'], dtype='object')

In [55]:
transform = lambda x: x.upper()

data.index.map(transform)

Index(['OHIO', 'COLORADO', 'NEW YORK'], dtype='object')

In [56]:
data.rename(index={'Ohio':'INDIANA'})

          one  two  three  four
INDIANA     0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [61]:
data.rename(index = str.title, columns=str.title)

          One  Two  Three  Four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

#### 데이터 구간 분할

In [62]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [70]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)

In [71]:
type(cats)

pandas.core.arrays.categorical.Categorical

In [72]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [73]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [76]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels = group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

#### 특잇값을 찾고 제외하기

In [111]:
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.039911     0.008526    -0.017000     0.041427
std       1.018436     1.025316     1.025297     0.991352
min      -3.392755    -2.746956    -3.888055    -2.859556
25%      -0.734568    -0.700375    -0.720918    -0.649450
50%      -0.042465    -0.008988    -0.012602     0.042881
75%       0.638809     0.712154     0.683422     0.712457
max       3.177773     3.280373     2.847327     3.655647

In [112]:
data > 3

         0      1      2      3
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3     True  False  False  False
4    False  False  False  False
..     ...    ...    ...    ...
995  False  False  False  False
996  False  False  False  False
997  False  False  False  False
998  False  False  False  False
999  False  False  False  False

[1000 rows x 4 columns]

In [114]:
(data > 3).any(axis=1)

0      False
1      False
2      False
3       True
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [115]:
data[(data > 3).any(axis=1)] # 특잇값(outlier)이 있는 행을 찾을 때 불리언 색인

            0         1         2         3
3    3.177773 -0.969203 -2.031698  0.139623
443  0.955883  0.637388 -1.698979  3.024372
508 -0.349235  3.280373 -0.948512  1.276638
621  0.358613  1.188824  0.506698  3.655647
854  0.452309  3.207604  0.954081 -1.287115
993  2.677951  1.308753  2.088941  3.205996

In [116]:
data[data>3] = 3

In [117]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.040089     0.008038    -0.017000     0.040541
std       1.017889     1.023830     1.025297     0.988462
min      -3.392755    -2.746956    -3.888055    -2.859556
25%      -0.734568    -0.700375    -0.720918    -0.649450
50%      -0.042465    -0.008988    -0.012602     0.042881
75%       0.638809     0.712154     0.683422     0.712457
max       3.000000     3.000000     2.847327     3.000000

#### 더미 변수 계산하기 (one-hot encoding)

In [77]:
df = pd.DataFrame({"fruit" : ["apple", "apple", "pear", "peach", "pear"], "data" : range(5)})
df

   fruit  data
0  apple     0
1  apple     1
2   pear     2
3  peach     3
4   pear     4

In [78]:
pd.get_dummies(df["fruit"])

   apple  peach  pear
0      1      0     0
1      1      0     0
2      0      0     1
3      0      1     0
4      0      0     1

In [79]:
dummies = pd.get_dummies(df["fruit"], prefix="fruit")
dummies

   fruit_apple  fruit_peach  fruit_pear
0            1            0           0
1            1            0           0
2            0            0           1
3            0            1           0
4            0            0           1

In [83]:
df[['data']].join(dummies)

   data  fruit_apple  fruit_peach  fruit_pear
0     0            1            0           0
1     1            1            0           0
2     2            0            0           1
3     3            0            1           0
4     4            0            0           1

### Worksohp - Auto MPG dataset